body {
  margin: 0ch;
  padding: 0ch;
  border: 0ch;
  background: linear-gradient(to bottom, #0073da 0%, #003557 100%);
}
     
.container {
  text-align: center;    
  display: flex;
  flex-direction: column;
}

.mac {
  margin-left: 670px;
}

.heading {
  font-size: 70px;
  font-weight: 4px;
  font-family: Impact, fantasy; 
  color: white;
  margin-top: 0ch;
}

 .header {
   background: linear-gradient(to bottom, #638eeb 0%, #0073da 100%);
 }

 .par {
  font-size: 30px;
  font-weight: 1px;
  font-family: Impact, fantasy; 
  color: white;
  position: absolute;
  top: 36vh;
  left: 100px;
 }

 .middle {
   background: linear-gradient(to bottom, #0073da 0%, #003557 100%);
   margin-top: 10vh;

 }

 .t2 {
  font-size: 50px;
  font-weight: 2px;
  font-family: Impact, fantasy; 
  color: white;
 }

 .p2 {
  font-size: 30px;
  font-weight: 1px;
  font-family: Impact, fantasy; 
  color: white;
  margin-top: 2vh;
  margin-right: 68vh;
 }

.bottom {
  background-color: #003557;
  display: flex;
  flex-direction: row;
} 

.bottom p {
  font-size: 20px;
  font-weight: 0.5px;
  font-family: Impact, fantasy; 
  text-decoration: none;
  color: black;
  padding: 10px;
}

.btn {
  border-radius: 5px;
  border-color: white;
  color: white;
  border: solid;
  background-color: transparent;
  border-width: 2px;
  width: 100px;
  height: 35px;
  font-weight: 1px;
  font-family: Impact, fantasy; 
  font-size: 24px;
  align-items: center;
  position: absolute;
  top: 4vh;
  left: 25vh;
}
.btn:hover {
  box-shadow: 0px 0px 10px rgb(252, 240, 240), 0px 0px 10px rgb(250, 227, 227);
  background-color: rgb(250, 221, 221);
  cursor: pointer;
}
